<%- include("partials/header") %>

<h1>Welcome to main product page!!</h1>
<a href="/productattribute"><button class="btn btn-primary">Product attributes</button></a>
<%- include("partials/footer") %>
