<div class="ui main text container segment">
    <h1>Welcome to main product page!!</h1>
    <a href="/addnewproduct"><input class = "ui violet big basic button" type="submit" value="Add new Product"></a>
</div>
